<h1>New ingredients</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div id="ingredientContainer" class="mb-3">
        <div class="ingredient">
            <input type="text" name="Title" placeholder="Name ingredient" class="form-control">
            <input type="number" name="Quantity" placeholder="Quantity" class="form-control" min="0">
            <select name="Unit" class="form-control">
                <option value="g">g</option>
                <option value="ml">ml</option>
                <option value="pieces">pieces</option>
                <option value="teaspoon">teaspoon</option>
                <option value="tablespoon">tablespoon</option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Додати інгредієнт</button>
</form>

@section Scripts {
    <script>
        var ingredientCount = 1;

        document.getElementById("addIngredientBtn").addEventListener("click", function () {
            var container = document.getElementById("ingredientContainer");
            var newIngredient = document.createElement("div");
            newIngredient.classList.add("ingredient");
            newIngredient.innerHTML = `
                        <input type="text" name="Ingredients[${ingredientCount}].Title" placeholder="Name ingredient" class="form-control">
                        <input type="number" name="Ingredients[${ingredientCount}].Quantity" placeholder="Quantity" class="form-control" min="0">
                        <select name="Ingredients[${ingredientCount}].Unit" class="form-control">
                            <option value="g">g</option>
                            <option value="ml">ml</option>
                            <option value="pieces">pieces</option>
                            <option value="teaspoon">teaspoon</option>
                            <option value="tablespoon">tablespoon</option>
                        </select>
                    `;
            container.appendChild(newIngredient);
            ingredientCount++;
        });
    </script>
}
