@model List<HealthyTreats.Core.Entities.Ingredient>
@{
    ViewData["Title"] = "Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Ingredients/Create" class="btn btn-primary float-end">Add ingredient</a>

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>


        <table class="table table-bordered">
            <thead>
                <tr>
             <th>Name</th>
            <th>Number</th>
            <th>Unit</th>
            <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingredient in Model)
                {
                    <tr>
                        <td>@ingredient.Title</td>
                        <td>@ingredient.Quantity</td>
                        <td>@ingredient.Unit</td>
                        <td>

                    <a href="/Ingredients/Edit/@ingredient.Id" class="btn btn-outline-primary">Edit</a>
                    <a href="/Ingredients/Delete/@ingredient.Id" class="btn btn-outline-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
