@model List<HealthyTreats.Core.Entities.Category>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Category/Create" class="btn btn-success float-end">Додати категорію</a>


<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.TitleCategory</td>
                <td>
                    <a href="/Category/Edit/@category.Id" class="btn btn-warning">Редагувати</a>
                    <a href="/Category/Delete/@category.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

