<!DOCTYPE html>
<html lang="en">
<partial name="ThemeHead"/>
<body>
    <partial name="TherePageHead"/>
    <partial name="ThemeHardSS" />
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <patial name="ThemeHeadFooter"
   <partial name="ThemeJs"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
