<!DOCTYPE html>
<html lang="en">
<partial name="ThemeHead"/>
<body>
    <partial name="TherePageHead"/>
    <partial name="ThemeHardSS" />
   
    
        <main id="main" class="main">
            @RenderBody()
        </main>
    

    <patial name="ThemeHeadFooter"
   <partial name="ThemeJs"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
