@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<div class="container">
    <h2>Recipes</h2>
    <br />

    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" name="searchTerm" value="@Context.Request.Query["searchTerm"]" class="form-control" placeholder="Search recipes" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var recipe in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@recipe.ImagePath" class="card-img-top" alt="Recipe Image">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Name</h5>
                            <p class="card-text">@recipe.Description</p>
                            <a href="/Home/Details/@recipe.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No recipes available.</p>
        }
    </div>
</div>
