@{
    ViewData["Title"] = "Home Page";
}
<script src="https://kit.fontawesome.com/4335c0bc9b.js" crossorigin="anonymous"></script>
<div class="text-center">
   
    
</div>

<div class="container">
    <h2>Healthy Treats </h2>
    <br />

    <div class="row">
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var recipe in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@recipe.ImagePath" class="card-img-top" alt="Recipe Image">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Name</h5>
                            <p class="card-text">@recipe.Description</p>
                            <a href="/Home/Details/@recipe.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No recipes available.</p>
        }
    </div>
</div>


<footer class="footer text-center">
    <h5>Social media</h5>
    <h3>
        <a href="https://www.facebook.com/profile.php?id=61555538733227&locale=uk_UA" target="_blank">
            <i class="fab fa-facebook" style="color: #0548bd;"></i>
        </a>
        <i class="fab fa-twitter" style="color: #4d88ef;"></i>
        <a href="https://www.instagram.com/healthy_dessert.ua/" target="_blank">
            <i class="fab fa-instagram" style="color: #d24204;"></i>
        </a>
        <i class="fab fa-telegram" style="color: #2057b6;"></i>
    </h3>
    <div class="float-right">
        <p>&copy; 2024, Healthy Treats</p>
    </div>
</footer>