@model HealthyTreats.Core.Entities.Ingredient

<!DOCTYPE html>
<html>
<head>
    <title>Деталі інгредієнта</title>
</head>
<body>
    <h1>Деталі інгредієнта</h1>

  
    <table>
        <tr>
            <th>Назва</th>
            <th>Кількість</th>
            <th>Одиниця виміру</th>
        </tr>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Quantity</td>
            <td>@Model.Unit</td>
        </tr>
    </table>

 
    <a href="#" id="getNutritionData">Отримати дані про інгрідієнти</a>

  
    <div id="nutritionInfo"></div>

   
    <script>
        document.getElementById('getNutritionData').addEventListener('click', function (event) {
            event.preventDefault();
            
            var ingredientName = '@Model.Title';
            
            fetch('/Recipes/GetRecipeNutrition?ingredientName=' + encodeURIComponent(ingredientName))
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Не вдалося отримати дані про питому вагу.');
                    }
                })
                .then(data => {
                   
                    var nutritionInfoElement = document.getElementById('nutritionInfo');
                    nutritionInfoElement.innerHTML = ''; 
                    Object.keys(data).forEach(key => {
                        var nutrientElement = document.createElement('p');
                        nutrientElement.textContent = `${key}: ${data[key]}`;
                        nutritionInfoElement.appendChild(nutrientElement);
                    });
                })
                .catch(error => {
                    console.error('Помилка:', error);
                });
        });
    </script>
</body>
</html>